*.pem
*.key
*.env
.env.*
id_*
.gnupg/
.ssh/

.*_history
.bash_sessions/
.lesshst
.sudo_as_admin_successful

*.log
*.log.*
*.logs

.cache/
.DS_Store
Thumbs.db
.fuse_hidden*
.directory
.Trash-*
.nfs*

*.swp
*.swo
*~
*.bak
*.tmp
.vim/
.vscode/

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.sig
pkg/
src/